<!-- badges handlebars --> 

<style>
table, th, td{
	border: 1px solid black;
}
</style>

<h1>Badges in the Database:</h1>
<h4>Note: After adding information, hit the Submit button - DO NOT PRESS ENTER</h4>
<br>
<h4 style="color:red">A badge won't allow deletion if it is bound to a trainer.  You must remove the badge from that trainer, then you can delete the badge.</h4>

<fieldset>Add Badge:
<form id="addBadge" action="/badges" method="post">
    Name: <br><input type="text" name="name"><br><br>
    Color: <br><input type="text" name="color"><br><br>
    <input type="submit" value="Submit">
</form>
</fieldset>
<fieldset>Search for badge color:
<form id="searchBadge" action="/badges/search" method="post">
    Color: <br><select name="badgeSearch" id="badgeSearch"><br><br>
        {{#each badges}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    <input type="submit" value="Search">
</form>
</fieldset>

<br>

<table>
	<thead>
		<th>Name</th>
		<th>Color</th>
		<th>Delete</th>
		<th>Update</th>
	</thead>
	<tbody>
		{{#each badges}}
		<tr>
			<td>{{name}}</td>
			<td>{{color}}</td>
			<td><button onclick="deleteBadge({{id}})">Delete</button></td>
			<td><a href="/badges/{{id}}">Update Badge Info</a></td>
		</tr>
		{{/each}}
	</tbody>


	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>
<p>To visit the pages with data, here are the links:</p>
<a href="/home">Home</a>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>