<!-- gyms handlebars --> 

<style>
table, th, td{
	border: 1px solid black;
}
</style>

<h1>Gyms in the Pokedex:</h1>

<table>
	<thead>
		<th>Name</th>
		<th>Gym Leader</th>
		<th>Gym Badge</th>
		<th>Delete</th>
		<th>Update</th>
	</thead>
	<tbody>
		{{#each gyms}}
		<tr>
			<td>{{name}}</td>
			<td>{{GymLeader}}</td>
			<td>{{GymBadge}}</td>
			<td><button onclick="deleteGym({{id}})">Delete</button></td>
			<td><a href="/gyms/{{id}}">Update Gym Info</a></td>
		</tr>
		{{/each}}
	</tbody>

    <form id="addGym" action="/gyms" method="post">
    Name: <input type="text" name="fname"><br>
    Trainer: <select name="trainer"> 
        {{#each trainers}}
        <option value="{{trainers.id}}">{{trainers.name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
    </form>
	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>
<p>To visit the pages with data, here are the links:</p>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>