<!-- trainer update handlebars form-->
<style>
table, th, td{
	border: 1px solid black;
}
</style>

<h1>Update {{trainer.name}}:</h1>
<h4>Note: After updating information, hit the Update button - DO NOT PRESS ENTER</h4>

<form id="update-trainer" action="/trainers" method="post">
    Name: <br><br>
    <input type="text" name="name" value="{{trainer.name}}"><br>
    <br>
	Catchphrase: <br>
    <input type="text" name="catchphrase" value="{{trainer.catchphrase}}"><br><br>
    Add Badge: <br><select name="badge" id="badge-selector"> 
        {{#each trainers}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</form>
<br>
<button onclick="updateTrainer({{trainer.id}})">Update</button>
<br>
<br>
<table>
	<thead>
		<th>Badges Owned</th>
	</thead>
	<tbody>
		{{#each badgesOwned}}
		<tr>
			<td>{{name}}</td>
		</tr>
		{{/each}}
	</tbody>

	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>
<br>
<p>To visit the pages with data, here are the links:</p>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>
