<h1>Update {{person.fname}} {{person.lname}}:</h1>
<h3>NOTE: After updating information, hit the Update button - DO NOT PRESS ENTER</h3>

<form id="update-person" action="/people" method="post">
    First name: <br>
    <input type="text" name="fname" value="{{person.fname}}"><br><br>
    Last name: <br>
    <input type="text" name="lname" value="{{person.lname}}"><br>
    Homeworld: <br>
    <select name="homeworld" id="planet-selector">
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age" value="{{person.age}}"><br>
</form>
<br>
<button onclick="updatePerson({{person.id}})">Update</button>
<script defer>selectPlanet({{person.homeworld}});</script>
<p>To visit the pages with data, here are the links:</p>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>
